<h1>Your Place To Bid on FoodCart Food!</h1>
<h2>Here are our Vendors!</h2>
  <ul>
    {{#each}}
    <li {{action "showHide"}}>
      {{vendor}} - {{lot}}
      {{#if isShowing}}
        <ul>
          {{#each food in item}}
            <li>{{#link-to "itemDetails" food}}{{food.description}}{{/link-to}} - {{food.item_id}}{{food.story}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
